

/*整屏*/
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #000;}
.section p{color: #000;}

.section2 p { position: relative; left: -120%;}

.section3 p { position: relative; bottom: -120%;}

.section4 p { display: none;}

/*绑定菜单*/

#menu { margin: 0; padding: 0; position: fixed; right: 10px; top: 45%; list-style-type: none; z-index: 70;display: flex;display: -webkit-flex; flex-direction: column;}

#menu li { margin:  0 10px 0 0; font-size: 14px;display: block;}

#menu a {padding: 10px 20px; background-color: #fff; color: #333; text-decoration: none;display: block}

#menu .active a { color: #fff; background-color: #333;}

.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
/*轮播图*/

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }
    .swiper-pagination{

    }

 /*轮播图结束*/
.section{
	position: relative;
}
.header{
	position: absolute;
	top: 0;
	z-index: 1;
	background: rgba(255,255,255,0.9);
	width: 100%;
}
.header .menu{
	line-height: 47px;
}
.menu>ul{
	display: flex;
	display: -webkit-flex;
}
.menu li{
	display: inline-block;
}
.header .logo{
	position: absolute;
	left: 50px;
	top: 10px;
}
.header a{
	color: #000;
}
.header .wrap{
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
.header a:hover{
	color: #3DBCF0
}
.menu>ul li{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px 20px;
}
.menu>ul li ul{
	display: none;
}

@media (max-width: 820px){
.header .menu{
	display: none;
}
} 
@media (max-width: 990px){
.menu>ul li{
	padding: 15px 5px;
}
}
/*第一屏*/
.swiper-container1 {
      width: 100vw;
      height: 100%;
      z-index: 0;
    }
.section1 .footer{
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: rgba(0,0,0,0.5);
	font-size: 18px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	height: 100px;
	text-align: left;
	white-space: nowrap;
}
.section1 .footer div{
	width: 33.3%;
	display: inline-block;
	line-height: 100px;
	text-align: center;
}
/*第二屏*/
.section2 .swiper-container2{
	width: 50vw;
	height: 200px;
	display: none;
}
/*第三屏*/
.section3 .sec_02{
	width: 50vw;
	margin: 0 auto;
}
.section3 .sec_02 ul{
	text-align-last:justify
}
.section3 .sec_02 li{
	position: relative;
	top: 50px;
	opacity: 0;
	transition: all 1s;
	display: inline-block;
}
.section3 .sec_02 .li_01{
	transition-delay: 0.6s;
-moz-transition-delay: 0.6s; /* Firefox 4 */
-webkit-transition-delay: 0.6s; /* Safari 和 Chrome */
-o-transition-delay: 0.6s; /* Opera */
}
.section3 .sec_02 .li_02{
	transition-delay: 1s;
-moz-transition-delay: 1s; /* Firefox 4 */
-webkit-transition-delay: 1s; /* Safari 和 Chrome */
-o-transition-delay: 1s; /* Opera */
}
.section3 .sec_02 .li_03{
	transition-delay: 1.2s;
-moz-transition-delay: 1.2s; /* Firefox 4 */
-webkit-transition-delay: 1.2s; /* Safari 和 Chrome */
-o-transition-delay: 1.2s; /* Opera */
}
.section3 .sec_03{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.section3 .sec_03 ul{
  width: 100%;
  text-align: left;
  font-size: 0;

}

.section3 .sec_03 li{
	display: inline-block;
	width: 33.3%;
	float: left;
	vertical-align: bottom;
}
.section3 .sec_03 li img{
	width: 100%;
}

.section3 .sec_03 .li_01{
	position: relative;
	left: -640px;
	transition: all 1s;
}
.section3 .sec_03 .li_02{
	position: relative;
	display: none;
}

.section3 .sec_03 .li_03{
	position: relative;
	right:-640px;
	transition: all 1s;
}